<div class="auth-bar">
  <p>Status:
    <ng-container *ngIf="(authBloc.isLoggedIn$ | async)">
      signed-in
    </ng-container>
    <ng-container *ngIf="!(authBloc.isLoggedIn$ | async)">
        signed-out
    </ng-container>
  </p>
  <button *ngIf="!(authBloc.isLoggedIn$ | async)" (click)="authBloc.signInAction$.next(null)">SignIn</button>
  <button *ngIf="(authBloc.isLoggedIn$ | async) === true" (click)="authBloc.signOutAction$.next(null)">SignOut</button>
</div>
