<div class="row">
  <div class="col-12 col-md-9">
    <div class="div-header">Lorem ipsum</div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus et ligula aliquam consequat. Vestibulum sed mauris nisl. Nunc suscipit, odio ut posuere sodales, orci risus posuere purus, at porta tellus elit ac metus. Pellentesque tristique ligula quis diam volutpat, sed molestie risus tempus. Proin pretium, quam eu vehicula porttitor, sapien est luctus libero, non sollicitudin metus nisl nec orci. Morbi quis dapibus leo, eu molestie nibh. Mauris at dolor in nibh varius finibus. Nulla molestie tempor tortor, nec placerat dui pulvinar a. Curabitur id ullamcorper libero. Vivamus malesuada hendrerit ligula id elementum. Vivamus enim leo, aliquet a finibus at, malesuada vitae quam. Donec in quam sed massa consequat tempus eu eu turpis.

    Proin faucibus risus est, ac egestas felis ullamcorper pharetra. Etiam feugiat, nulla vitae eleifend posuere, sem massa pharetra diam, placerat vulputate diam dolor quis nisi. Praesent sed nibh vitae erat aliquam vulputate. Proin aliquet ornare auctor. Nam a tellus eu ex lacinia ullamcorper at sit amet ante. Vivamus ultrices dignissim facilisis. Donec non venenatis massa. Integer facilisis mauris non tortor eleifend, ac accumsan lacus vehicula. Aenean eget pulvinar nisl. Aliquam dictum pulvinar molestie. Fusce sagittis lectus mi, quis feugiat velit aliquam ac. Donec pellentesque mauris non tortor fringilla aliquet. Praesent id placerat ligula, ut fermentum purus. Cras eu vestibulum arcu.

    Pellentesque faucibus velit et tincidunt pellentesque. Morbi vel arcu elementum, vehicula urna sit amet, ultricies nulla. Vivamus hendrerit interdum vulputate. Sed nisl erat, mollis sit amet eleifend eget, commodo vel turpis. Donec ullamcorper, lectus sit amet dictum varius, risus ligula fermentum magna, id tempus magna nunc suscipit purus. Vivamus rutrum, dui in malesuada ullamcorper, nisi massa placerat ante, condimentum vestibulum nulla tortor a ipsum. Nam nec sapien non eros aliquam commodo. In dapibus aliquet mi, sit amet condimentum orci imperdiet vitae. Praesent ut libero quis tortor sodales interdum. Nunc quam est, efficitur eget pulvinar ut, facilisis eget dui.

    Curabitur placerat consectetur egestas. Vestibulum et vehicula libero. Aenean volutpat massa eget elit sollicitudin porttitor. Duis ac risus nec justo vulputate tincidunt nec sed lectus. Ut nec sapien ut tellus ultricies consequat. Quisque tincidunt gravida elit ut porttitor. Phasellus eleifend viverra quam at consectetur. Maecenas erat sapien, pretium nec ligula et, ornare aliquam risus. Ut sollicitudin nisi lectus. Pellentesque euismod faucibus nibh eget tempus. Nam tempor magna sed ipsum tincidunt semper. Fusce vitae sodales dui.

    Praesent ut porttitor dui, ut volutpat massa. In eu luctus nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam blandit auctor felis vitae rhoncus. Morbi laoreet et nisi vitae cursus. Suspendisse semper nulla at justo maximus pellentesque. Vivamus quis interdum enim, at auctor nisl. Ut commodo enim sed consequat facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc at imperdiet purus. Aenean eu arcu a est sodales posuere. Vivamus at nulla quam. Pellentesque est nisi, tristique a pellentesque non, tincidunt id sapien. Nullam condimentum massa at tellus convallis, pellentesque porta lacus dictum.

    <div *ngIf="locationsForm$ | async as locationsForm" class="row">
      <div class="col-3">
        <h3>Locations Changer</h3>
        <form [formGroup]="locationsForm" (ngSubmit)="homeBloc.changeLocations$.next(locationsForm.value.locations)">
          <ng-container formArrayName="locations">
            <div class="form-group" *ngFor="let location of locationsForm.get('locations').controls; let index = index">
              <input type="text" class="form-control" [formControlName]="index">
            </div>
          </ng-container>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

  </div>
  <div class="col-12 col-md-3">
    <div class="div-header">Weather</div>
    <app-weather></app-weather>
  </div>
</div>
