<div class="weather" *ngFor="let weather of weatherBloc.weatherData$ | async">
  <div class="title">
    <span>{{weather.name}}</span>
  </div>
  <table>
    <tr>
      <td>Temperature</td>
      <td class="padding">{{weather.main.temp | nothing}}</td>
    </tr>
    <tr>
      <td>Text</td>
      <td class="padding">{{weather.weather[0].description}}</td>
    </tr>
  </table>
</div>
